.padding {
    padding-bottom: 50px;
}

.item-menu {
    font-size: 18px;
    display: inline-block;
    text-align: center;
}



.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.logo {
    width: 100%;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

.header .scroll-menu {
    overflow: auto;
    white-space: nowrap;
}

.header {
    background: #FDEAEC;
}

.home-page {
    padding-top: 50px;
}

.home-page .avatar-image {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.home-page .card-body {
    background-color: #FDEAEC;
}

.home-page .product-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width: 348px;
}

.text-slide {
    color: #575757;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: #FDEAEC;
}

.header nav {
    font-size: 19px;
    padding: 20px 0;
    /*margin-left: 20px;*/
}

/**/

.home-page {
    background: #FAFAFA;
}

.home-page .card_effect:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

@media only screen and (max-width: 768px) {
    .home-page .card-body .card-title {
        font-size: 17px;
    }

    .home-page .card-body .card-text {
        font-size: 13px;
    }

    .home-page .card-body a > h5 {
        font-size: 10px;
    }

    footer {
        font-size: 15px;
    }
}

.gitf-form .image-form {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh
}

