
.item-menu {
    font-size: 18px;
    display: inline-block;
    text-align: center;
}

.font-text {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    width: 100%;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

.header .scroll-menu {
    overflow: auto;
    white-space: nowrap;
}

.home-page .avatar-image {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.home-page .card-body {
    background-color: #FDEAEC;
}

.text-slide {
    color: #575757;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}


/*login*/

*, :after, :before {
    box-sizing: border-box
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

.header a {
    color: inherit;
    text-decoration: none
}

.header .login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    background: url(https://scontent.cdninstagram.com/vp/9a6683f5ea4dc0f96f1646c431d0d037/5BEC3379/t51.2885-15/sh0.08/e35/s640x640/20180947_1370649996367386_5414331937655357440_n.jpg) no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.header .login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(40, 57, 101, .6);
}

.header .login-html .sign-in-htm,
.header .login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.header .login-html .sign-in,
.header .login-html .sign-up,
.header .login-form .group .check {
    display: none;
}

.header .login-html .tab,
.header .login-form .group .label,
.header .login-form .group .button {
    text-transform: uppercase;
}

.header .login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.header .login-html .sign-in:checked + .tab,
.header .login-html .sign-up:checked + .tab {
    color: #fff;
    border-color: #1161ee;
}

.header .login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.header .login-form .group {
    margin-bottom: 15px;
}

.header .login-form .group .label,
.header .login-form .group .input,
.header .login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.header .login-form .group .input,
.header .login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.header .login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.header .login-form .group .label {
    color: #aaa;
    font-size: 12px;
}

.header .login-form .group .button {
    background: #1161ee;
}

.header .login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.header .login-form .group label .icon:before,
.header .login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.header .login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.header .login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.header .login-form .group .check:checked + label {
    color: #fff;
}

.header .login-form .group .check:checked + label .icon {
    background: #1161ee;
}

.header .login-form .group .check:checked + label .icon:before {
    transform: scale(1) rotate(45deg);
}

.header .login-form .group .check:checked + label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.header .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: center;
}
